[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
onnx = "*"
mxnet = "*"
mxnet-mkl = "*"
mxnet-model-server = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.7"
