[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

certifi = "==2018.1.18"
chardet = "==3.0.4"
idna = "==2.6"
requests = "==2.18.4"
torchtext = "==0.2.1"
tqdm = "==4.19.6"
"urllib3" = "==1.22"
numpy = "*"


[dev-packages]



[requires]

python_version = "3.6"
